body {
    background: black;
}

.dark-mode-nav{
    background: rgb(27, 27, 27);
    color: whitesmoke;
    box-shadow: 2px 0px 6px whitesmoke;
    font-size: 18px;
}

.dark-mode{
    background: black;
    color: whitesmoke;
    font-size: 18px;
}

.image-container{
    contain: content;
}

.line {
    background: whitesmoke;
    height: 2px;
}

.text-vertical-center {
    padding-top: 18%;
}

.button-holder {
    padding-right: 40%;
    padding-left: 45%;
}